.back{
    padding-top: 55px;

    float: left;

    background-color: #383e42; 
}

.back-button{
    color: white;

    background-color: #383e42; 

    text-align: start;
    padding: 6px;
    /* to center the back icon */
    padding-right: 8px; 


    font-weight: bold;
    font-size: 26px;
}

.back-button:focus, .back-button:hover{
    color: grey;
    cursor: pointer;
}


#select-employees{
    border: 1px solid black;
    margin: auto 0;
    color: black;
    font-size: 14px;
    padding: 5px;

}

/*
    FORM
*/
.employee-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    margin-top: 25px;
    line-height: 2;
}
/*
.section-form{
    margin:0;
    padding:0;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 1%;

    font-size: 20px;
}*/
.employee-form section{
    background-color: rgb(240,240,240);

}

.section-form label{
    margin-right: 2%;
    font-weight: bold;
}

.section-form .name-box, #availability{
    border: 1px solid black;
    width: 50%;
    max-width: 250px;
    padding: 1%;
}

#availability{
    margin-right: -1px;
}

.section-form select{
    border: 1px solid black;

    padding: 1%;
}


.submit{
    margin-top: 20px;
    border: 1px solid grey;
    background: #383e42;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;

    width: 200px;
    padding: 5px;

    cursor:pointer;
}

.submit:focus, .submit:hover{
    color: grey;
}

   /*---------------- RESPONSIVE LAYOUT ----------------*/


    /* ----------
            COMPUTER SCREEN REGULAR 
    ----------------------*/
    @media screen and (min-width: 768px) {
      
        .back{
            padding-top: 60px;
        }
        
      
        #select-employees{
            font-size: 16px;
        }

        .section-form{
            margin:0;
            padding:0;
        
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        
            padding: 1%;
        
            font-size: 20px;
        }
  
    }
      /* ---------------------- 
            COMPUTER SCREEN LARGE 
      ----------------------*/
    @media screen and (min-width: 1024px) {
        
        .back{
            display: none
        }
        #select-employees{
            font-size: 18px;
        }

        .section-form{

            font-size: 30px;
        }

        
      
    }
  