.back{
    float: left;

    background-color: #383e42; 
    
    margin-bottom: 35px;

}


.back-button{

    color: white;

    background-color: #383e42; 

    text-align: start;
    padding: 4px;
    /* to center the back icon */
    padding-right: 8px; 

    font-weight: bold;
    font-size: 22px;
}

.back-button:focus, .back-button:hover{
    color: grey;
    cursor: pointer;
}


#select-employees{
    border: 1px solid black;
    margin: auto 0;
    color: black;
    font-size: 14px;
    padding: 5px;

}

/*
    FORM
*/
.employee-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    margin-top: 25px;
    line-height: 2;
}

.employee-form section{
    background-color: rgb(240,240,240);

}

.section-form label{
    margin-right: 2%;
    font-weight: bold;
}

.submit{
    margin-top: 20px;
    border: 1px solid grey;
    background: #383e42;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;

    width: 200px;
    padding: 5px;

    cursor:pointer;
}

.submit:focus, .submit:hover{
    color: grey;
}

   /*---------------- RESPONSIVE LAYOUT ----------------*/

 /* ----------
            COMPUTER SCREEN height  
    ----------------------*/
    @media screen and (min-height: 700px) {
      
        .back{
            margin-top: 5%;
        }
  
    }
    
    /* ----------
            COMPUTER SCREEN REGULAR 
    ----------------------*/
    @media screen and (min-width: 768px) {
      
        .back{
            padding-top: 30px;
            margin-bottom: 4%;
        }
        
      
        #select-employees{
            font-size: 16px;
        }
  
    }
      /* ---------------------- 
            COMPUTER SCREEN LARGE 
      ----------------------*/
    @media screen and (min-width: 1024px) {
        
        .back{
            display: none
        }
        #select-employees{
            font-size: 18px;
        }        
      
    }
  